<!-- <app-class-binding></app-class-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-template-ref-variable></app-template-ref-variable> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-ng-if-directive></app-ng-if-directive> -->
<!-- <app-ng-switch-directive></app-ng-switch-directive> -->
<!-- <app-ng-for-directive></app-ng-for-directive> -->
<!-- <h1>{{message}}</h1> -->
<!-- <app-test [parentData]="name" (childEvent)="message=$event"></app-test> -->
<!-- <app-pipes></app-pipes> -->

<app-employee-list></app-employee-list>
<app-employee-detail></app-employee-detail>